.container {
    --header-bg: rgb(130, 130, 242);
    --contrast-tr-bg: #ecf1f4;
    --td-b-cl: #dbe4ed;
    --table-border: #e4e4e4;
    border: 1px solid var(--table-border);
    border-collapse: collapse;
    margin: auto;
  }
  
  .headTr {
    background-color: var(--header-bg);
  }
  
  .bodyTr:nth-child(2n) {
    background-color: var(--td-b-cl);
  }
  
  .th {
    min-width: 100px;
    padding: 15px;
    border-right: 1px solid var(--table-border);
    border-left: 1px solid var(--table-border);
  }
  
  .td {
    padding: 15px 40px;
    border-right: 1px solid var(--table-border);
    border-left: 1px solid var(--table-border);
  }
  
  .td:nth-child(2) {
    text-align: right;
  }
  
  .td:nth-child(3) {
    text-align: center;
  }